<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JacutemAAI2.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JacutemAAI2.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <JacutemAAI2.WPF.Properties.Settings>
            <setting name="DiretorioRomDesmonstada" serializeAs="String">
                <value />
            </setting>
            <setting name="UltimaPastaFolderPicker" serializeAs="String">
                <value />
            </setting>
            <setting name="TextosTabelaAAI2_TabelaTag" serializeAs="String">
                <value>tabelaTag.tbl</value>
            </setting>
        </JacutemAAI2.WPF.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JacutemAAI2.WPF.Properties.Settings>
            <setting name="PastaBinarios" serializeAs="String">
                <value>__Binarios</value>
            </setting>
            <setting name="PastaInfoBinarios" serializeAs="String">
                <value>__Binarios\_InfoBinarios</value>
            </setting>
            <setting name="PastaImagens" serializeAs="String">
                <value>__Imagens</value>
            </setting>
            <setting name="PastaImagensEditadas" serializeAs="String">
                <value>__Imagens\__Imagens_editadas</value>
            </setting>
            <setting name="PastaTextos" serializeAs="String">
                <value>__Textos</value>
            </setting>
            <setting name="PastaTabelas" serializeAs="String">
                <value>__Textos\_Tabelas</value>
            </setting>
            <setting name="PastaScriptsOriginais" serializeAs="String">
                <value>__Textos\Scripts_Originais</value>
            </setting>
            <setting name="PastaScriptsTraduzidos" serializeAs="String">
                <value>__Textos\Scripts_Traduzidos</value>
            </setting>
            <setting name="PastaTools" serializeAs="String">
                <value>_Tools</value>
            </setting>
            <setting name="ToolNdstool" serializeAs="String">
                <value>ndstool.exe</value>
            </setting>
            <setting name="ToolNdstoolLibgcc_s_seh_1" serializeAs="String">
                <value>libgcc_s_seh-1.dll</value>
            </setting>
            <setting name="ToolNdstoolLibstdc_6" serializeAs="String">
                <value>libstdc++-6.dll</value>
            </setting>
            <setting name="ToolNdstoolLibwinpthread_1" serializeAs="String">
                <value>libwinpthread-1.dll</value>
            </setting>
            <setting name="ToolBlz" serializeAs="String">
                <value>blz.exe</value>
            </setting>
            <setting name="TextosInfoScript" serializeAs="String">
                <value>_infoScripts.txt</value>
            </setting>
            <setting name="TextosTabelaAAI2" serializeAs="String">
                <value>aai2.tbl</value>
            </setting>
            <setting name="TextosTabelaAAI2_Botoes" serializeAs="String">
                <value>aai2_botoes.tbl</value>
            </setting>
            <setting name="TextosTabelaAAI2_Descricoes" serializeAs="String">
                <value>aai2_descricoes.tbl</value>
            </setting>
        </JacutemAAI2.WPF.Properties.Settings>
    </applicationSettings>
</configuration>